body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.img1 {
  position: absolute;
  width: 600px;
  height: 459px;
  left: 52px;
  top: 260px;
}
#topBotomBordersOut li a:before,
#topBotomBordersOut li a:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #fff;
  content: "";
  opacity: 0;
  transition: all 0.3s;
}

#topBotomBordersOut li a:before {
  top: 6px;
  transform: translateY(10px);
}

#topBotomBordersOut li a:after {
  bottom: 6px;
  transform: translateY(-10px);
}

#topBotomBordersOut li a:hover:before,
#topBotomBordersOut li a:hover:after {
  opacity: 1;
  transform: translateY(0px);
}
.navbar-brand {
  color: white !important;
}

.navbar .navbar-nav li a {
  color: white !important;
}

.form-group {
  margin-bottom: 0.25rem !important;
}

#home {
  padding: 60px;
  width: 100%;
}

#form_container {
  position: absolute;
  right: 20px;
  padding: 1rem;
}
select {
  line-height: 1rem;
  margin: 10px 10px 0 0;
  width: 200px;
}
